{% extends "base.html" %}

{% block body %}

<div class=" container">

    <form method="post" class="col-6 mx-auto card p-4 shadow-lg" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Update Receipe</h2>
        <hr>
        <div class="mb-3">
            <label class="form-label">Receipe Name</label>
            <input name="recipe_name" required type="text" class="form-control " value="{{Update.recipe_name}}">
        </div>
        <div class="mb-3">
            <label class="form-label">Receipe Description</label>
            <textarea name="recipe_desription" required class="form-control "
                style="height: 200px;">{{Update.recipe_desription}}</textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">Receipe Image</label>
            <input name="recipe_img" type="file" class="form-control " value="{{Update.recipe_img}}">
        </div>
        <button type="submit" class="btn btn-success">Update Receipe</button>
    </form>



</div>

{% endblock %}
